html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    min-height: 100vh;
    background-color: #1a1008;
    background-image:
        radial-gradient(ellipse at top left, #3d1f00 0%, transparent 50%),
        radial-gradient(ellipse at bottom right, #2a0f00 0%, transparent 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* 👈 adicione isso */
    font-family: 'Nunito', sans-serif;
}